body{
	/*background-color:#BEA6A1;*/
	background-image: url("images/bg_NightSky.jpg");
	margin:0;
}



div{
	text-align:center;
	color: white;
}

p{
	text-indent:50px;
	text-align:left;
	font-size:24px;
}

img{
	border: 2px solid white;
}

table, td{
	text-indent: 10px;
	border: 2px solid white;
	border-color:white;
	border-collapse: collapse;
	text-align: left;
	border-spacing: 0;
	
}

.t-specs {
    font: 300 18px / 0.9em 'ff-zwo-web', Arial, sans-serif;
    table-layout: fixed;
    width: 100%;
}

.t-specs thead th {
    background-color: #003264;
    color: #fff;
    text-transform: uppercase;
}

.t-specs tr.t-sec td {
    background-color: #7d8695;
    color: #fff;
    text-transform: uppercase;
}

.t-specs td:first-of-type {
    background-color: #ddd;
	color:black;
    width: 40%;
}

.t-specs td, .t-specs th {
    background-color: #eee;
    padding: 6px 10px 4px;
    width: 60%;
	color: black;
}


form{
	text-align:center;
}

.txtFormat{
	text-decoration:underline;
}

.spec{
	text-align:center;
	text-decoration:underline;
	
}

.tab{

	text-align: center;
}


ul.topnav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
	display: inline-block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	transition: 0.3s;
	font-size: 17px;
}

ul.topnav li a:hover {background-color: #555;}

ul.topnav li.icon {display: none;}

@media screen and (max-width:680px) {
	ul.topnav li:not(:first-child) {display: none;}
	
	ul.topnav li.icon {
		float: right;
		display: inline-block;
	}
}

@media screen and (max-width:680px) {
	ul.topnav.responsive {position: relative;}
	
	ul.topnav.responsive li.icon {
	position: absolute;
	right: 0;
	top: 0;
	}
	
	ul.topnav.responsive li {
	float: none;
	display: inline;
	}
	
	ul.topnav.responsive li a {
	display: block;
	text-align: left;
	}
}

.logo-wrapper {
    background: #272b3b;
}



